
# Environnements virtuels
venv/
__pycache__/
*.pyc

# Fichiers sensibles
.env

# Node build artifacts
node_modules/
dist/


# SQLite
*.sqlite3-shm
*.sqlite3-wal
db.sqlite3

# Test data files
*.xlsx
*.xls

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
